<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 목록</title>
  <style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        padding: 8px 12px;
        border: 1px solid #ccc;
        text-align: center;
    }
    th {
        background-color: #f2f2f2;
    }
    h2 {
        text-align: center;
    }
  </style>
</head>
<body>
  <h2>헬스장 회원 목록</h2>

  <div th:if="${message}">
    <script th:inline="javascript">
      alert([[${message}]]);
    </script>
  </div>

  <table>
    <thead>
      <tr>
        <th>회원ID</th>
        <th>이름</th>
        <th>전화번호</th>
        <th>성별</th>
        <th>생년월일</th>
        <th>회원권 유형</th>
        <th>시작일</th>
        <th>종료일</th>
        <th>상태</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="member: ${members}">
        <td th:text="${member.memberId}"></td>
        <td>
          <a th:href="@{/member/detail/{id}(id=${member.memberId})}"
              th:text="${member.name}"></a>
        </td>
        <td th:text="${member.phone}"></td>
        <td th:text="${member.gender == 'M' ? '남' : '여'}"></td>
        <td th:text="${member.birthDate}"></td>
        <td th:text="${member.status == 1 ? '정상'
                      : (member.status == 2 ? '이용중지' : '탈퇴')}"></td>
        <!--
        <td th:text="${member.membershipType}"></td>
        <td th:text="${member.startDate}"></td>
        <td th:text="${member.endDate}"></td>
        -->
      </tr>
    </tbody>
  </table>


</body>
</html>