<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gym.mapper.AdminMapper">

    <!-- 관리자 추가 -->
   <insert id="insertAdmin" parameterType="com.project.gym.domain.Admin">
       INSERT INTO ADMIN (
            ADMIN_ID, ADMIN_LOGIN_ID, ADMIN_PASSWORD,
            ADMIN_PHONE, ADMIN_EMAIL,
            ADMIN_NAME, ROLE, CREATED_AT
       ) VALUES (
            SEQ_ADMIN_ID.NEXTVAL, #{adminLoginId}, #{adminPassword},
            #{adminPhone}, #{adminEmail},
            #{adminName}, #{role}, SYSDATE
       )
   </insert>

    <!-- 같은 아이디 존재하는지 여부 확인 -->
    <select id="countByUserId" resultType="int">
        SELECT COUNT(*)
        FROM ADMIN
        WHERE ADMIN_LOGIN_ID = #{adminLoginId}
    </select>


    <!-- USER_ID로 회원 검색 -->
    <select id="selectByUserId" resultType="com.project.gym.domain.Admin">
        SELECT *
        FROM ADMIN
        WHERE ADMIN_LOGIN_ID = #{adminLoginId}
    </select>

    <!-- 관리자 조회 - criteria -->
    <select id="selectAdminByCriteria"
            parameterType="com.project.gym.dto.admin.AdminSearchCriteria"
            resultType="com.project.gym.dto.admin.AdminListDTO">
        SELECT *
        FROM ADMIN
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'ADMIN_LOGIN_ID'">
                        AND ADMIN_LOGIN_ID LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == 'ADMIN_NAME'">
                        AND ADMIN_NAME LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == 'ADMIN_EMAIL''">
                        AND ADMIN_EMAIL LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == 'ADMIN_PHONE'">
                        AND ADMIN_PHONE LIKE '%' || #{keyword} || '%'
                    </when>
                </choose>
            </if>
            <if test="excludeResigned == true">
                AND ROLE = 'OWNER' OR ROLE = 'MANAGER'
            </if>
        </where>
        ORDER BY ADMIN_ID DESC
    </select>

    <!-- 관리자 조회 - criteria -->
    <select id="countAdminByCriteria"
            resultType="int"
            parameterType="com.project.gym.dto.admin.AdminSearchCriteria">
        SELECT COUNT(*)
        FROM ADMIN
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'ADMIN_LOGIN_ID'">
                        AND ADMIN_LOGIN_ID LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == 'ADMIN_NAME'">
                        AND ADMIN_NAME LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == 'ADMIN_EMAIL''">
                        AND ADMIN_EMAIL LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == 'ADMIN_PHONE'">
                        AND ADMIN_PHONE LIKE '%' || #{keyword} || '%'
                    </when>
                </choose>
            </if>
            <if test="excludeResigned == true">
                AND ROLE = 'OWNER' OR ROLE = 'MANAGER'
            </if>
        </where>
        ORDER BY ADMIN_ID DESC
    </select>

    <!-- 회원 정보 수정 -->
    <update id="updateAdmin" parameterType="com.project.gym.domain.Admin">
        UPDATE ADMIN
        SET
            ADMIN_NAME = #{adminName},
            ADMIN_PHONE = #{adminPhone},
            ADMIN_EMAIL = #{adminEmail},
            UPDATED_AT = SYSDATE
        WHERE
            ADMIN_ID = #{adminId}
    </update>

    <!-- 관리자번호(adminId)로 회원정보 조회 -->
    <select id="selectByAdminId" resultType="com.project.gym.domain.Admin">
        SELECT *
        FROM ADMIN
        WHERE ADMIN_ID = #{adminId}
    </select>

    <!-- 회원 퇴사처리 -->
    <update id="updateRoleToResigned">
        UPDATE ADMIN
        SET
            ADMIN_LOGIN_ID = ADMIN_LOGIN_ID || '_RESIGNED_' || ADMIN_ID,
            ROLE = 'RESIGNED',
            UPDATED_AT = SYSDATE
        WHERE
            ADMIN_ID = #{adminId}
    </update>


</mapper>
