<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gym.mapper.MemberMapper">

    <!-- 회원 가입 -->
    <insert id="insertMember" parameterType="com.project.gym.domain.Member">

        <selectKey keyProperty="memberId" order="BEFORE" resultType="long">
            SELECT SEQ_MEMBER_ID.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO MEMBER (
            MEMBER_ID, MEMBER_LOGIN_ID, MEMBER_PASSWORD, MEMBER_NAME,
            PHONE, EMAIL, GENDER,
            BIRTHDATE,
            STATUS, CREATED_AT
        ) VALUES (
            #{memberId}, #{memberLoginId}, #{memberPassword}, #{memberName},
            #{phone}, #{email}, #{gender},
            #{birthDate, javaType=java.time.LocalDate, jdbcType=DATE},
            'NORMAL', SYSDATE
        )
    </insert>

    <!-- 로그인 아이디 중복 확인 -->
    <select id="existsByLoginId" resultType="boolean">
        SELECT CASE WHEN COUNT(1) > 0 THEN 1 ELSE 0 END
        FROM MEMBER
        WHERE MEMBER_LOGIN_ID = #{memberLoginId}
    </select>

    <!-- 이메일 중복 확인 -->
    <select id="existsByEmail" resultType="boolean">
        SELECT CASE WHEN COUNT(1) > 0 THEN 1 ELSE 0 END
        FROM MEMBER
        WHERE EMAIL = #{email}
    </select>

    <!-- 회원 목록 조회 -->
    <select id="selectMemberList"
            parameterType="com.project.gym.dto.member.MemberSearchCondition"
            resultType="com.project.gym.dto.member.MemberListDTO">
        SELECT
            MEMBER_ID,
            MEMBER_LOGIN_ID,
            MEMBER_NAME,
            PHONE,
            EMAIL,
            GENDER,
            BIRTHDATE,
            STATUS,
            CREATED_AT
        FROM MEMBER
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == @com.project.gym.domain.enums.MemberSearchField@LOGIN_ID">
                        AND MEMBER_LOGIN_ID LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == @com.project.gym.domain.enums.MemberSearchField@NAME">
                        AND MEMBER_NAME LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == @com.project.gym.domain.enums.MemberSearchField@EMAIL">
                        AND EMAIL LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == @com.project.gym.domain.enums.MemberSearchField@PHONE">
                        AND PHONE LIKE '%' || #{keyword} || '%'
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY MEMBER_ID DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <!-- 검색 결과 개수(count) -->
    <select id="countMembers" parameterType="com.project.gym.dto.member.MemberSearchCondition" resultType="int">
        SELECT COUNT(1) FROM MEMBER
        <where>
            <if test="keyword != null and keyword = ''">
                <choose>
                    <when test="searchType == @com.project.gym.domain.enums.MemberSearchField@LOGIN_ID">
                        AND MEMBER_LOGIN_ID LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == @com.project.gym.domain.enums.MemberSearchField@NAME">
                        AND MEMBER_NAME LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == @com.project.gym.domain.enums.MemberSearchField@EMAIL">
                        AND EMAIL LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="searchType == @com.project.gym.domain.enums.MemberSearchField@PHONE">
                        AND PHONE LIKE '%' || #{keyword} || '%'
                    </when>
                </choose>
            </if>
        </where>
    </select>


    <!-- 회원 상세 -->
    <select id="selectMemberDetail" resultType="com.project.gym.dto.member.MemberDetailResponseDTO">
        SELECT
        MEMBER_ID,
        MEMBER_LOGIN_ID,
        MEMBER_NAME,
        PHONE,
        EMAIL,
        GENDER,
        BIRTHDATE,
        STATUS,
        CREATED_AT,
        UPDATED_AT
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>


    <!-- 회원 정보 수정 -->
    <update id="updateMemberSelective">
        UPDATE MEMBER
        SET
            MEMBER_NAME = #{memberName},
            PHONE = #{phone},
            EMAIL = #{email},
            GENDER = #{gender},
            BIRTHDATE = #{birthDate},
            UPDATED_AT = SYSDATE
        WHERE
            MEMBER_ID = #{memberId}
    </update>

    <!-- 본인 제외 이메일 중복 -->
    <select id="existsOtherByEmail" parameterType="map" resultType="boolean">
        SELECT CASE WHEN COUNT(1) > 0 THEN 1 ELSE 0 END
        FROM MEMBER
        WHERE
            EMAIL = #{email}
            AND MEMBER_ID != #{selfId}
    </select>

    <!-- 회원번호로 멤버 조회 -->
    <select id="selectMemberById" resultType="com.project.gym.domain.Member">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <!-- 로그인ID로 조회 -->
    <select id="selectMemberByLoginId" resultType="com.project.gym.domain.Member">
        SELECT *
        FROM MEMBER
        WHERE
            MEMBER_LOGIN_ID = #{memberLoginId}
    </select>



    <!-- 탈퇴 처리 -->
    <update id="updateWithdrawStatus">
        UPDATE MEMBER
        SET
            STATUS = 'WITHDRAW',
            UPDATED_AT = SYSDATE,
            MEMBER_LOGIN_ID = MEMBER_LOGIN_ID || '_WITHDRAW_' || MEMBER_ID
        WHERE
            MEMBER_ID = #{memberId}
    </update>

</mapper>
