<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gym.mapper.MembershipSuspendMapper">

    <!-- 정지 내역 추가 -->
    <insert id="insertSuspendHistory" parameterType="com.project.gym.domain.MembershipSuspendHistory">
        INSERT INTO MEMBERSHIP_SUSPEND_HISTORY (
            SUSPEND_ID, MEMBERSHIP_ID,
            SUSPEND_START_DATE,
            SUSPEND_END_DATE,
            SUSPEND_REASON,
            CREATED_AT,
            CREATED_BY
        ) VALUES (
            SEQ_SUSPEND_ID.NEXTVAL, #{membershipId},
            #{suspendStartDate, jdbcType=DATE},
            #{suspendEndDate, jdbcType=DATE},
            #{suspendReason},
            SYSDATE,
            #{createdBy}
        )
    </insert>

    <!-- 정지 내역 전체 목록 -->
    <select id="selectAllSuspendHistories" resultType="com.project.gym.domain.MembershipSuspendHistory">
        SELECT
            s.SUSPEND_ID,
            s.MEMBERSHIP_ID,
            s.SUSPEND_START_DATE,
            s.SUSPEND_END_DATE,
            s.SUSPEND_REASON,
            s.CREATED_BY,
            s.CREATED_AT,
            s.UPDATED_BY,
            s.UPDATED_AT,

            mem.MEMBER_NAME,
            m.MEMBERSHIP_TYPE,
            ca.ADMIN_ID AS CREATED_BY_NAME,
            ua.ADMIN_ID AS UPDATED_BY_NAME
        FROM MEMBERSHIP_SUSPEND_HISTORY s
        JOIN MEMBERSHIP m ON s.MEMBERSHIP_ID = m.MEMBERSHIP_ID
        JOIN MEMBER mem ON m.MEMBER_ID = s.MEMBER_ID
        JOIN ADMIN ca s.CREATED_BY = ca.ADMIN_ID
        LEFT JOIN ADMIN ua s.UPDATED_BY = ua.ADMIN_ID
        ORDER BY
            SUSPEND_ID DESC
    </select>



</mapper>