<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gym.mapper.MembershipSuspendMapper">

    <!-- 정지 내역 추가 -->
    <insert id="insertSuspendHistory" parameterType="com.project.gym.dto.membership.suspend.SuspendCreateFormDTO">
        INSERT INTO MEMBERSHIP_SUSPEND_HISTORY (
            SUSPEND_ID, MEMBERSHIP_ID,
            SUSPEND_START_DATE,
            SUSPEND_END_DATE,
            SUSPEND_REASON,
            CREATED_AT,
            CREATED_BY
        ) VALUES (
            SEQ_SUSPEND_ID.NEXTVAL, #{membershipId},
            #{suspendStartDate, jdbcType=DATE},
            #{suspendEndDate, jdbcType=DATE},
            #{suspendReason},
            SYSDATE,
            #{createdBy}
        )
    </insert>

    <!-- 정지 내역 전체 목록 -->
    <select id="selectAllSuspendHistories" resultType="com.project.gym.domain.MembershipSuspendHistory">
        SELECT
            s.SUSPEND_ID,
            s.MEMBERSHIP_ID,
            s.SUSPEND_START_DATE,
            s.SUSPEND_END_DATE,
            s.SUSPEND_REASON,
            s.CREATED_BY,
            s.CREATED_AT,
            s.UPDATED_BY,
            s.UPDATED_AT,

            mem.MEMBER_NAME,
            m.MEMBERSHIP_TYPE,
            ca.ADMIN_NAME AS CREATED_BY_NAME,
            ua.ADMIN_NAME AS UPDATED_BY_NAME,
            m.EXTENDED_END_DATE,
            m.PAYMENT_METHOD
        FROM MEMBERSHIP_SUSPEND_HISTORY s
        JOIN MEMBERSHIP m ON s.MEMBERSHIP_ID = m.MEMBERSHIP_ID
        LEFT JOIN MEMBER mem ON m.MEMBER_ID = mem.MEMBER_ID
        JOIN ADMIN ca ON s.CREATED_BY = ca.ADMIN_ID
        LEFT JOIN ADMIN ua ON s.UPDATED_BY = ua.ADMIN_ID
        ORDER BY
            SUSPEND_ID DESC
    </select>

    <!-- 정지 내역 - MEMBERSHIP_ID로 조회 -->
    <select id="selectSuspendHistoriesByMembershipId" resultType="com.project.gym.domain.MembershipSuspendHistory">
        SELECT
            s.SUSPEND_ID,
            s.MEMBERSHIP_ID,
            s.SUSPEND_START_DATE,
            s.SUSPEND_END_DATE,
            s.SUSPEND_REASON,
            s.CREATED_BY,
            s.CREATED_AT,
            s.UPDATED_BY,
            s.UPDATED_AT,

            mem.MEMBER_NAME,
            m.MEMBERSHIP_TYPE,
            ca.ADMIN_NAME AS CREATED_BY_NAME,
            ua.ADMIN_NAME AS UPDATED_BY_NAME,
            m.EXTENDED_END_DATE,
            m.PAYMENT_METHOD
        FROM MEMBERSHIP_SUSPEND_HISTORY s
        JOIN MEMBERSHIP m ON s.MEMBERSHIP_ID = m.MEMBERSHIP_ID
        LEFT JOIN MEMBER mem ON m.MEMBER_ID = mem.MEMBER_ID
        JOIN ADMIN ca ON s.CREATED_BY = ca.ADMIN_ID
        LEFT JOIN ADMIN ua ON s.UPDATED_BY = ua.ADMIN_ID
        WHERE
            s.MEMBERSHIP_ID = #{membershipId}
        ORDER BY SUSPEND_ID DESC
    </select>

    <!-- 정지 내역 - MEMBERSHIP_ID로 조회 -->
    <select id="selectSuspendListDTOByMembershipId" resultType="com.project.gym.dto.membership.suspend.SuspendListDTO">
        SELECT
            s.SUSPEND_ID,
            s.MEMBERSHIP_ID,
            s.SUSPEND_START_DATE,
            s.SUSPEND_END_DATE,
            s.SUSPEND_REASON,
            s.CREATED_BY,
            s.CREATED_AT,
            s.UPDATED_BY,
            s.UPDATED_AT,

            mem.MEMBER_NAME,
            m.MEMBERSHIP_TYPE,
            ca.ADMIN_NAME AS CREATED_BY_NAME,
            ua.ADMIN_NAME AS UPDATED_BY_NAME,
            m.EXTENDED_END_DATE
        FROM MEMBERSHIP_SUSPEND_HISTORY s
        JOIN MEMBERSHIP m ON s.MEMBERSHIP_ID = m.MEMBERSHIP_ID
        LEFT JOIN MEMBER mem ON m.MEMBER_ID = mem.MEMBER_ID
        JOIN ADMIN ca ON s.CREATED_BY = ca.ADMIN_ID
        LEFT JOIN ADMIN ua ON s.UPDATED_BY = ua.ADMIN_ID
        WHERE
            s.MEMBERSHIP_ID = #{membershipId}
        ORDER BY SUSPEND_ID DESC
    </select>


    <!-- 정지 내역 조회 - criteria -->
    <select id="selectSuspendListDTOByCriteria"
            parameterType="com.project.gym.dto.membership.suspend.SuspendSearchCriteria"
            resultType="com.project.gym.dto.membership.suspend.SuspendListDTO">
        SELECT
            s.SUSPEND_ID,
            s.MEMBERSHIP_ID,
            s.SUSPEND_START_DATE,
            s.SUSPEND_END_DATE,
            s.CREATED_BY,
            s.CREATED_AT,

            mem.MEMBER_NAME,
            m.MEMBERSHIP_TYPE,
            ca.ADMIN_NAME AS CREATED_BY_NAME

        FROM MEMBERSHIP_SUSPEND_HISTORY s
        JOIN MEMBERSHIP m ON s.MEMBERSHIP_ID = m.MEMBERSHIP_ID
        LEFT JOIN MEMBER mem ON m.MEMBER_ID = mem.MEMBER_ID
        JOIN ADMIN ca ON s.CREATED_BY = ca.ADMIN_ID
        <where>
            <if test="criteria.membershipId != null">
                s.MEMBERSHIP_ID = #{criteria.membershipId}
            </if>
            <if test="criteria.searchType == 'MEMBER_NAME' and criteria.keyword != null and criteria.keyword != ''">
                AND LOWER(mem.MEMBER_NAME) LIKE '%' || LOWER(#{criteria.keyword}) || '%'
            </if>
            <if test="criteria.searchType == 'CREATED_BY' and criteria.keyword != null and criteria.keyword != ''">
                AND LOWER(ca.ADMIN_NAME) LIKE '%' || LOWER(#{criteria.keyword}) || '%'
            </if>
        </where>
        ORDER BY s.SUSPEND_ID DESC
    </select>


    <!-- 정지 내역 - MEMBER_ID로 조회 -->
    <select id="selectSuspendHistoriesByMemberId" resultType="com.project.gym.domain.MembershipSuspendHistory">
        SELECT
            s.SUSPEND_ID,
            s.MEMBERSHIP_ID,
            s.SUSPEND_START_DATE,
            s.SUSPEND_END_DATE,
            s.SUSPEND_REASON,
            s.CREATED_BY,
            s.CREATED_AT,
            s.UPDATED_BY,
            s.UPDATED_AT,

            mem.MEMBER_NAME,
            m.MEMBERSHIP_TYPE,
            ca.ADMIN_NAME AS CREATED_BY_NAME,
            ua.ADMIN_NAME AS UPDATED_BY_NAME,
            m.EXTENDED_END_DATE,
            m.PAYMENT_METHOD
        FROM MEMBERSHIP_SUSPEND_HISTORY s
        JOIN MEMBERSHIP m ON s.MEMBERSHIP_ID = m.MEMBERSHIP_ID
        LEFT JOIN MEMBER mem ON m.MEMBER_ID = mem.MEMBER_ID
        JOIN ADMIN ca ON s.CREATED_BY = ca.ADMIN_ID
        LEFT JOIN ADMIN ua ON s.UPDATED_BY = ua.ADMIN_ID
        WHERE s.MEMBER_ID = #{memberId}
        ORDER BY SUSPEND_ID DESC
    </select>

    <!-- 정지 내역 상세보기 -->
    <select id="selectSuspendDetailById" resultType="com.project.gym.dto.membership.suspend.SuspendDetailDTO">
        SELECT
            s.SUSPEND_ID,
            s.MEMBERSHIP_ID,
            s.SUSPEND_START_DATE,
            s.SUSPEND_END_DATE,
            s.SUSPEND_REASON,
            s.CREATED_BY,
            s.CREATED_AT,
            s.UPDATED_BY,
            s.UPDATED_AT,
            m.EXTENDED_END_DATE,

            mem.MEMBER_NAME,
            m.MEMBERSHIP_TYPE,
            ca.ADMIN_NAME AS CREATED_BY_NAME,
            ua.ADMIN_NAME AS UPDATED_BY_NAME,

            m.START_DATE AS ORIGINAL_START_DATE,
            m.END_DATE AS ORIGINAL_END_DATE,
            m.PERIOD_DAYS
        FROM MEMBERSHIP_SUSPEND_HISTORY s
        JOIN MEMBERSHIP m ON s.MEMBERSHIP_ID = m.MEMBERSHIP_ID
        LEFT JOIN MEMBER mem ON m.MEMBER_ID = mem.MEMBER_ID
        JOIN ADMIN ca ON s.CREATED_BY = ca.ADMIN_ID
        LEFT JOIN ADMIN ua ON s.UPDATED_BY = ua.ADMIN_ID
        WHERE
            s.SUSPEND_ID = #{suspendId}
    </select>


</mapper>