<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gym.mapper.MemberMapper">

    <insert id="insertMember" parameterType="com.project.gym.domain.Member">
        INSERT INTO MEMBER (
            MEMBER_ID, MEMBER_NAME, MEMBER_LOGIN_ID,
            PHONE, EMAIL, GENDER,
            BIRTHDATE
        ) VALUES (
            SEQ_MEMBER_ID.NEXTVAL, #{memberName}, #{memberLoginId},
            #{phone}, #{email}, #{gender},
            #{birthDate, javaType=java.time.LocalDate, jdbcType=DATE}
        )
    </insert>

    <select id="selectAllMembers" resultType="com.project.gym.domain.Member">
        SELECT *
        FROM MEMBER
        ORDER BY MEMBER_ID DESC
    </select>

    <select id="selectMemberById" resultType="com.project.gym.domain.Member">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <update id="updateMember">
        UPDATE MEMBER
        SET NAME = #{name},
            PHONE = #{phone},
            EMAIL = #{email},
            GENDER = #{gender},
            BIRTHDATE = #{birthDate},
            UPDATED_AT = SYSDATE
        WHERE MEMBER_ID = #{memberId}
    </update>

    <update id="deleteMember">

    </update>

    <select id="searchMembers" resultType="com.project.gym.domain.Member">
        SELECT *
        FROM MEMBER
        <where>
            <if test="searchType == 'memberName'">
                NAME LIKE '%' || #{keyword} || '%'
            </if>
            <if test="searchType == 'memberLoginId'">
                NAME LIKE '%' || #{keyword} || '%'
            </if>
            <if test="searchType == 'email'">
                EMAIL LIKE '%' || #{keyword} || '%'
            </if>
            <if test="searchType == 'phone'">
                PHONE LIKE '%' || #{keyword} || '%'
            </if>
            <if test="searchType == 'all' or searchType == null or keyword == null">
                (NAME LIKE '%' || #{keyword} || '%'
                OR EMAIL LIKE '%' || #{keyword} || '%'
                OR PHONE LIKE '%' || #{keyword} || '%')
            </if>
        </where>
    </select>




</mapper>
